/* Inserta tu codigo aqui */
.main-1 {
	background: #F4F4F4;
}
.blog-img img {
	width: 100%;
	height: 211px;
}
.text-blog {
	background: #DDDFE0;
}
.main-5{
	background-image: url('../img/shoes_1.jpg');
	height: 500px;
}
.entrada-text {
	width: 100%;
}
.nombre .entrada-text, .email .entrada-text {
	height: 45px;
}
.mensaje .entrada-text {
	height: 140px;
}
.enviar {
	height: 50px;
}
/* aplicaciones */
.header-nav ul li a:hover {
	background: #928AFF;
	border-radius: 2px;
	padding-top: 1%;
	padding-bottom: 1%;
}
.v-mas:hover{
	background:  #928AFF;
}
.blog-img img:hover {
	border: 2px solid #928AFF;
}