/* Inserta tu codigo aqui */
.main-1 {

}
.clases {
	position: relative;
}
.clases {
	width: 100%;
	height: 370px;
}
.text-clases{
	position: absolute;
	top: 38%;
	left:5%;
	width: 90%;
	height: 110px;
	background: rgba(0,0,0,0.42);
}
.balet {
	background-image: url('../img/dance_12.jpg');
}
.breakdance {
	background-image: url('../img/breakdance.jpg');
}
.lirical {
	background-image: url('../img/lirical-jazz.jpg');
}
.arabic {
	background-image: url('../img/arabe.jpg');
}
.little{
	background-image: url('../img/little.jpg');
}
.yoga {
	background-image: url('../img/yoga.jpg');
}
.clases:hover {
	border: 2px solid #928AFF;
	color: #928AFF;
}
.text-clases:hover {
	color: #928AFF;
	border: 2px solid ;
}