/* Inserta tu codigo aqui */
.Hero
{
	background-image: url('../img/dance_1.jpg');
	height: 380px;
}
.incrib {
	background: #030E1E;
}
.main-1{
	background-image: url('../img/textura_2.jpg');
}
.m-1-deco{
	height: 60px;
	width: 110px;
}
.b-radius {
		border-radius: 5px;
}
.main-2{
	border-top: 1px solid black;
	position: relative;
}
.instructor {
	position: absolute;
	bottom: -1px;
	left: 30%;
}
.m-2-left {
	background-image: url('../img/instructor_4.jpg');
}
.m-2-right {
	background-image: url('../img/profesor_9.jpg');
}
.main-2, .m-2 {
	height: 301px;
}
.lema p {
	font-style: italic;
}
.ubicacion {
	padding-right: 15%
}
/**Aplicaciones */
.header-nav ul li a:hover {
	background: #928AFF;
	border-radius: 2px;
	padding-top: 1%;
	padding-bottom: 1%;
}
.incrib:hover{
	background:  #928AFF;
}
.oferta:hover{
	background:  #928AFF; 
}
.instructor:hover{
	background:  #928AFF; 
}
.studio:hover {
	color:#928AFF;
}