/* Inserta tu codigo aqui */
.header-nav ul li{
		display: inline;
}
.header-nav ul li a{
	padding: 0 2%;
}
.hero {
	background-image: url('../img/dance_7.jpg');
	height: 370px;
	background-size: 140% 192%;
	background-position: 0% 39%;
	border-top: 1px solid #DDE2E3;
}
.text-hero{
	width: 480px;
	height: 190px;
	  background: rgba(0,0,0,0.42);
}
.vertical {
	height: 380px;
	display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.main-2 {
	height: 250px;
	background-image: url('../img/cubes.png');
	padding-bottom: 5%;
}
.INSTRUCTORES .row .col-3{
	position: relative;
}
.instructor img {
	width: 100%;
	height: 224px;
}
.main-4 {
	height: 172px;
	background-image: url('../img/cubes.png');
}
.instructor {
	overflow: hidden;
	float: left;
}
.corte1 img {
	height: 300px;
	margin-bottom: -143px;
}
.corte img {
	margin: 0px 0px -66px 0px;
}
.corte2 img {
	height: 177px;
	margin-bottom: -20px;
}
.corte3 img {
	height: 245px;
	margin-bottom: -88px;
}

/*Aplicaciones*/
.header-nav ul li a:hover {
	background: #928AFF;
	border-radius: 2px;
	padding-top: 1%;
	padding-bottom: 1%;
}
.text-hero:hover{
	color:#928AFF;
}
.pilar:hover{
	border: 2px solid #928AFF;
	color: #928AFF; 
}
.instructor:hover{
	border: 2px solid #928AFF;
}
.post:hover { 
	color:  blue;
}
