/*Global*/
*{
	font-family: "Latolight";
}

@font-face{
	font-family: LatoHeavy;
	src: url(../fonts/LatoHeavy.ttf);
}
@font-face{
	font-family:Latolight ;
	src: url(../fonts/Latolight.ttf);
}
@font-face{
	font-family: DolceVita;
	src: url(../fonts/DolceVita.ttf);
}
@font-face{
	font-family: Neoteric-Bold;
	src: url(../fonts/Neoteric-Bold.ttf);
}

/* Shortcuts */

.pd-0{
	padding: 0;
}
.pt-5{
	padding-top: 5%;
}
.pt-3 {
	padding-bottom: 3%;
}
.pb-5{
	padding-bottom: 5%;
}
.pt-1{
	padding-top: 1%;
}
.pb-1{
	padding-bottom: 1%;
}
.pd-3{
	padding:3%;
}
.pd-5-0{
	padding: 5% 0;
}
.pd-3-10{
	padding: 3% 10%;
}
.pd-2-10{
	padding: 2% 10%;
}
.pd-2-15{
	padding: 2% 15%;
}
.pd-10-20{
	padding: 10% 20%;
}
.pb-3{
	padding-bottom: 3%;
}
.pd-5{
	padding: 5%;
}
.pd-0-5 {
	padding: 0 5%;
}
.mg-0{
	margin: 0;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-white{
	color: white;
}
.text-gray{
	color: rgb(83, 88, 95);
}
.text-gray1{
	color: #C4C6C3;
}
.text-blue{
 color: #192951;
}
.a-none-decoration{
	text-decoration: none;
}
.bg-gray{
	background-color: rgb(244, 244, 244);
}
.bg-img-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.bg-img-block-c{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bg-img-block-f{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
}

.bg-img-block-r{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	background-size: 60% 100%;
}
a {
	text-decoration: none;
}
.f-30{
	font-size: 60px;
}
.f-12 {
	font-size: 12px;
}
.f-14{
	font-size: 14px;
}
.f-15 {
	font-size: 15px;
}
.f-20 {
	font-size:20px;
}
.b-blue{
	background: #1A2851;
	color: white;
}
.f-32 {
	font-size: 38px;
}
.b-radius {
		border-radius: 5px;
}
.b-contac{
	padding-left: 10%;
	background-size: 30px 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
}
.b-nombre {
	background-image: url('http://rexkirby.com/kirbyandson/images/name.svg');
}
.b-email{
	background-image: url('http://rexkirby.com/kirbyandson/images/email.svg');
}
.b-mensaje{
	background-image: url('http://rexkirby.com/kirbyandson/images/comment.svg');
}